<div class="container">
  <mat-card>
    <div fxLayout="column wrap">
      <h4>
        <span>Personal</span>
      </h4>

      <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="first name" [(ngModel)]="first_name" />
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="last name" [(ngModel)]="last_name" />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="middle name" [(ngModel)]="middle_name" />
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="age" [(ngModel)]="age" />
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="phone" [(ngModel)]="phone" />
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="email" [(ngModel)]="email" />
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column wrap">
      <h4>
        <span>Online</span>
      </h4>

      <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="username" [(ngModel)]="username" />
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="user id" [(ngModel)]="user_id" />
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="url" [(ngModel)]="url" />
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column wrap">
      <h4>
        <span>Location</span>
      </h4>

      <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="country" [(ngModel)]="country" />
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="state" [(ngModel)]="state" />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="city" [(ngModel)]="city" />
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="zipcode" [(ngModel)]="zipcode" />
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="street" [(ngModel)]="street" />
        </mat-form-field>

        <mat-form-field class="form-element" fxFlex>
          <input matInput placeholder="house" [(ngModel)]="house" />
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="10px;">
      <div fxFlex>
        <button
          mat-stroked-button
          style="width: 100px!important;"
          color="primary"
          class="btn-block"
          (click)="clear()"
        >
          Clear
        </button>
      </div>

      <div fxFlex>
        <button
          mat-raised-button
          style="width: 100px!important;"
          color="primary"
          class="btn-block"
          (click)="search()"
        >
          Search
        </button>
      </div>
    </div>
  </mat-card>
</div>
