@import "../../styles.scss";

div {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: mat-color($accent, default);
}

a img {
  margin-left: 2px;
  vertical-align: middle;
  border-radius: 50%;
  height: 25px;
}
