div {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #999;
}

a img {
  margin-left: 2px;
  vertical-align: middle;
  border-radius: 50%;
  height: 25px;
}
