<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <button
    mat-raised-button
    color="facebook"
    class="btn-block"
    (click)="authenticationService.signInFacebook()"
  >
    Login with Facebook
  </button>

  <button
    mat-raised-button
    color="twitter"
    class="btn-block"
    (click)="authenticationService.signInTwitter()"
  >
    Login with Twitter
  </button>

  <button
    mat-raised-button
    color="gmail"
    class="btn-block"
    (click)="authenticationService.signInGmail()"
  >
    Login with Gmail
  </button>
</div>
