@import "~@angular/material/_theming.scss";
@include mat-core();

$primary: mat-palette($mat-blue-gray);
$accent: mat-palette($mat-blue-gray, A100);
$warn: mat-palette($mat-red, A100);
$pipl-theme: mat-dark-theme($primary, $accent, $warn);

a {
  color: mat-color($warn, default);
}

body {
  color: mat-color($accent, default);
}

@include angular-material-theme($pipl-theme);
