div {
  word-wrap: break-word;
}

mat-card {
  margin: 5px;
}

.image-container {
  min-width: 90px;
}

.image {
  min-width: unset;
  width: 100%;
  max-width: 200px;
}

.table-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-cell {
  margin-top: 10px;
}
