div {
  word-wrap: break-word;
}

mat-card {
  margin: 5px;
}

.image-container {
  min-width: 90px;
}

.image {
  min-width: unset;
  width: 100%;
  max-width: 200px;
  transition: all 0.5s ease-in-out;
}

.table-row {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.table-cell {
  min-width: 90px;
  margin-top: 10px;
}

.hide-row {
  height: 0px !important;
  overflow: hidden;
  opacity: 0;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.image-lite {
  width: 100px !important;
}
