<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>

    <div fxLayout="column" fxLayoutAlign="left space-between">
      <!-- Top row: Image name, email, phone, age-->
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div fxFlex class="images">
          <div class="image-container">
            <img
              class="image"
              [src]="
                person.images
                  ? person.images[0].url
                  : 'https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png'
              "
              onError="this.src='https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png'"
            />
          </div>
        </div>

        <div fxLayout="column" class="personal" fxFlex fxGrow="4">
          <div *ngIf="person.names">
            <div style="font-size: 1.2em;">{{ person.names[0].display }}</div>
          </div>
          <div *ngIf="person.dob">
            <span>{{ person.dob.display }}</span>
          </div>
          <div *ngIf="person.gender">
            <span>{{ person.gender.content }}</span>
          </div>
        </div>
      </div>

      <!-- Second row-->
      <div *ngIf="person.names" fxLayout="row wrap" fxLayoutGap="10px">
        <div fxFlex>Names</div>
        <div fxFlex fxGrow="4">
          <div>{{ showNames() }}</div>
        </div>
      </div>

      <div
        *ngIf="person.addresses"
        fxLayout="row wrap"
        fxLayoutGap="10px"
        fxFlex
      >
        <div fxFlex>Addresses</div>
        <div fxFlex fxGrow="4">
          <div *ngFor="let address of person.addresses">
            {{ address.display }}
          </div>
        </div>
      </div>

      <div *ngIf="person.languages" fxLayout="row wrap" fxLayoutGap="10px">
        <div fxFlex>Languages</div>
        <div fxFlex fxGrow="4">{{ showLanguages() }}</div>
      </div>

      <div *ngIf="person.ethinicities" fxLayout="row wrap" fxLayoutGap="10px">
        <div fxFlex>Ethinicities</div>
        <div fxFlex fxGrow="4">{{ showEthnicities() }}</div>
      </div>

      <div
        *ngIf="person.origin_countries"
        fxLayout="row wrap"
        fxLayoutGap="10px"
      >
        <div fxFlex>Origin Country</div>
        <div fxFlex fxGrow="4">{{ showOriginCountries() }}</div>
      </div>
      <!--
      <div fxLayout="row" class="contact">
        <div>Contact</div>
        <div>
          <div *ngIf="person.phones">
            phones:
            <div *ngFor="let phone of person.phones">
              {{ phone.display_international }}
            </div>
          </div>

          <div *ngIf="person.emails">
            emails:
            <div *ngFor="let email of person.emails">
              {{ email.address }}
            </div>
          </div>
        </div>
      </div>
  
      <div fxLayout="row" class="online">
        <div *ngIf="person.user_ids">
          user ids:
          <div *ngFor="let user_id of person.user_ids">
            {{ user_id.content }}
          </div>
        </div>
        <div *ngIf="person.usernames">
          usernames:
          <div *ngFor="let username of person.usernames">
            {{ username.content }}
          </div>
        </div>

        <div *ngIf="person.urls">
          urls:
          <div *ngFor="let url of person.urls">
            <a [href]="url.url" target="_blank">{{ url["@name"] }}</a>
          </div>
        </div>
      </div>

      <div class="professional">
        <div *ngIf="person.jobs">
          jobs:
          <div *ngFor="let job of person.jobs">
            {{ job.display }}
          </div>
        </div>

        <div *ngIf="person.educations">
          education:
          <div *ngFor="let education of person.educations">
            {{ education.display }}
          </div>
        </div>
      </div>

                <div *ngIf="person.relationships">
            relationships:
            <div *ngFor="let relation of person.relationships">
              {{ relation["@type"] }}: {{ relation.names[0]?.display }}
            </div>
          </div>
      -->
    </div>
  </mat-card>
</div>
