.login-wrapper {
  background-image: url(https://eclecticlightdotcom.files.wordpress.com/2016/03/doreenigma.jpg); //url(https://wallpaperaccess.com/full/1098112.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.box {
  opacity: 1;
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .box {
    width: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .box {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .box {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .box {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .box {
    width: 20%;
  }
}

.login-wrapper .mat-card {
  padding: 30px;
}
