mat-card {
  margin: 5px;
}

button {
  min-width: 100% !important;
  line-height: 40px !important;
}

mat-form-field {
  margin-right: 5px;
  margin-left: 5px;
}

.toggler {
  margin-left: 10px;

  a {
    cursor: pointer;
  }
}

.separator {
  height: 10px;
}
