<!-- <div *ngIf="!user">
  <input type="text" [(ngModel)]="email" placeholder="email" />
  <input type="password" [(ngModel)]="password" placeholder="password" />

  <button (click)="signUpEmail()">Sign Up</button>

  <button (click)="signInEmail()">Login</button>
</div> -->

<div *ngIf="!user">
  <button (click)="signInGmail()" *ngIf="!user">
    Login with Gmail
  </button>

  <button (click)="signInTwitter()" *ngIf="!user">
    Login with Twitter
  </button>
</div>

<div *ngIf="user">
  <app-me></app-me>

  <button (click)="signOut()">
    Logout
  </button>

  <!-- <pre *ngIf="user" style="text-align:left">
    {{ user | json }}
  </pre> -->
</div>
